

/* 
Font styles of global body and heads: 
*/
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

/* 
h1 font size:
*/

header.masthead h1 {
  font-size: 2rem;
}

/* 
Specifies sizes and positions of icons:
*/

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

/* 
Specifies position of footer:
*/

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
